# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_DATABASE=ai_chat_db
MYSQL_USER=ai_chat_user
MYSQL_PASSWORD=password_change_me

# PhpMyAdmin
PMA_BLOWFISH_SECRET=umaStringAleatoriaBemLonga1234567890

# Host User
HOST_UID=1000
HOST_GID=1000

# API Laravel
APP_NAME="AI Chat Platform"
APP_ENV=local
APP_DEBUG=true